
body {
    box-sizing: border-box;
    max-width: 960px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #f1f0f0;
    border-radius: 40px;
    box-shadow: 0px 0px 42px rgba(16, 24, 40, 0.08);
    font-family: system-ui;
    line-height: 1.5;
    min-height: 80vh;
}

button {
    background-color: #a6a7d2;
    text-align: center;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: system-ui;

}

button:hover {
    background-color: #37397d;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #a6a7d2;
}

form {
    margin-top: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 10px;

}

textarea {
    vertical-align: middle; 
}

.message {
    color: rgb(156, 11, 11);
    text-align: center;
    margin-top: 100px;
}

.complete {
    width: 20px;
    height: 20px;
    background-color: green;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.incomplete {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}


.alert {
    width: max-content;
    margin: 20px auto;
    padding: 20px;
    background-color: #4BB543;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}